
###> symfony/framework-bundle ###
/api/.env
/api/public/bundles/
/api/public/build
/api/var/
/api/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/ui/node_modules/
ui/public/build/
###< symfony/webpack-encore-pack ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
